* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: blue;
  height: 50%;
  width: 50%;
  display: grid;
  grid-template-areas:
    "nav section section"
    "nav contenido contenido"
    "nav footer";
  gap: 30px;
  margin: auto;
}

.footer {
  grid-area: footer;
  background-color: blueviolet;
}

.contenido {
  grid-area: contenido;
  background-color: aqua;
}

.nav {
  grid-area: nav;
  background-color: yellow;
}

.section {
  grid-area: section;
  background-color: red;
}

.box {
  border-radius: 1rem;
  background-color: red;
  text-align: center;
  color: white;
}
